<div class="container text-center">
    <h1>About Us</h1>
    <p><span class="red"> D</span>ev<span class="red">M</span>atch is an exclusive 
    community dedicated to connecting developers and entrepreneurs.</p>
</div>