<div class="home-callout text-center container-fluid">
    <h1> Welcome to <span class="red">D</span>ev<span class="red">M</span>atch</h1>
    <h3>Matching entrepreneurs with developers</h3>
</div>
<div class="container home-signup-links">
    <div class="row">
        <div class="col-md-6">
            <div class="well">
                <h2 class="text-center">Basic Membership</h2>
                <h4>Sign up for free for access to the community.</h4>
                <br>
                <%=link_to "Sign up for Basic", "#", class: "btn btn-primary btn-lg btn-block" %>
            </div>
        </div>
        <div class="col-md-6">
            <div class="well">
                <h2 class="text-center">Pro Membership</h2>
                <h4>Upgrade to pro membership for full features.</h4>
                <br>
                <%=link_to "Sign up for Pro", "#", class: "btn btn-primary btn-lg btn-block" %>
            </div>
        </div>
    </div>
</div>